.contacto__formulario__boton{
    width: 10rem;
    height: 2rem;
    margin: 1rem

}
@media screen and (max-width: 768px){
    .contacto__formulario__boton{
        width: 35vw;
        height: 2rem;
        margin: 1rem;
        margin: 1rem 0rem 1rem 0px;
 
    }
    
}