@media screen and (max-width:765px){
    .contacto__formulario_item{
        
        width: 90vw;
        height: 2rem;
        margin: 1rem 1rem 1rem 0;
    }
    }


@media  screen and ( min-width: 768px) {
    
    .contacto__formulario_item{
        width: 30vw;
        height: 2rem;
        margin: 1rem;
    }
    
}