
@media screen and (min-width: 768px){ 

    .contact__imagen{
        width: 20vw;
        height: 20rem;
        margin: 1rem
    
    
}
}

@media screen and (max-width: 765px) {

        .contact__imagen{
            display: none;
        }
    
}
    